/**
 *     Page-specific banner
 */
div.topBanner
{
    height:                 937px;
    background-image:       url("../img/kymCasa.jpg");
}

/**
 *     Content styling
 */
.rsvpContainer
{
    min-height:             500px;
}
.formDesc
{
    font-family:            'Josefin Sans Thin';
    font-size:              25px;
    line-height:            32px;
}
select
{
    cursor:                 pointer;
}
select option
{
    margin-top:             5px;
    margin-bottom:          5px;
}
input, select
{
    border-radius:          8px;
}
input:focus, select:focus
{
    outline:                0;
}
input[type=text], select
{
    font-size:              25px;
    line-height:            25px;
    padding:                15px 10px;

    color:                  #666666;
    border:                 1px solid #AAAAAA;
}
input[type=submit]
{
    transition:             all 0.5s ease;
    font-size:              20px;
    line-height:            25px;
    padding:                10px 40px 5px 40px;

    /*font-family:            "Lobster";*/
    text-transform:         uppercase;
    letter-spacing:         2px;
    color:                  #444444;
    background:             #DDDDDD;
    border:                 0;
}
input[type=submit]:hover
{
    background:             #999999;
    color:                  #FFFFFF;
}


select#firstNameEntry
{
    width:                  50%;
}
